.main {
    max-width: 1024px;
    margin: 0 auto;
    background-repeat: repeat;
    background-image: url(./linmo-img/bg-green.jpg);
    background-position-x: -5%;
}
.header {
    background-image: url(./linmo-img/header.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: 80%;
    margin-bottom: -40px;
    position: relative;
    right: 2.5%;
    z-index: 2;
    height: 140px;
    width: 105%;
}
.header::before {
    content: "";
    display: block;
    background-image: url(./linmo-img/linmo-green.png);
    background-repeat: no-repeat;
    background-size: auto 100px;
    background-position-x: 95%;
    width: 100%;
    height: 100px;
}
.body {
    background-color: rgba(255, 255, 255, .8);
}
.category-item button {
    float: left;
    color: #333;
}
.selected-item {
    box-shadow: inset 0px 0px 0px 5px #7CB072 !important;
}
.selected-category button {
    background-color: #7CB072;
    color: #fff;
}
.download-btn {
    background-color: #7CB072;
    border: 1px solid #eee;
    color: #fff;
}
.download-btn::before {
    content: "";
    display: inline-block;
    width: 20px;;
    height: 22px;;
    background-image: url(./linmo-img/flower.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.download-btn::after {
    content: "";
    display: inline-block;
    width: 20px;;
    height: 22px;;
    background-image: url(./linmo-img/flower.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 3px;
}
.warning {
    color: #497D3F;
    font-size: .8em;
}